extends layout

block content
  section#cont
    h1 RESTful API Service
    h3 Header Parser
    h5 Instructions
    p.ex Use the following endpoint to receive your User Agent Information
    code
      a(href="/api/whoami") https://headerparser-ja.heroku.com/api/whoami



    footer
      p.foot Coded by Jorge A
